<%- include('../partials/header.ejs') %>  

<div class = "container">
    <div class="row">
        
        <div class="col-md-3">
            <div class="container card card-body bg-light">
                <h1>neg/pos</h1>
            </div>
        </div>   
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-fluid" src="<%= campground.image %>" >
                <div class="caption-full">
                    <h4 class="float-right">$<%= campground.price %> /night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        
                        <em>Submitted by <%= campground.author.username %> </em>
                    
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) ){ %> <!--CHECKS IF THE COMMENT MADE BY USER AND HIDE BTNS IF NOT-->
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form id="deleteBtn" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button  class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                    <!-- STAR RATING -->
                    <!-- <form>
                        <input type="number" id="quantity" name="stars" max="5" min="1" step="1" class="form-control" placeholder="rating"> 
                    </form>
                    <button>RATE</button> -->
                    <!-- STAR RATING -->
                    <!-- STAR RATING -->
                </div>
            </div>
            <div class="card card-body bg-light">
                <div class="text-right">
                    <a class="btn btn-success" href = "/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong><span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> <!--CHECKS IF THE COMMENT MADE BY USER AND HIDE BTNS IF NOT-->
                                <a id="deleteBtn" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                <form id="deleteBtn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
                                </form>
                            <% } %>      
                        </div>              
                    </div>
                <% }) %>
            </div>
             <!-- // rating  -->
            <form action="/campgrounds/<%= campground._id %>/rating?_method=POST" method="POST">
                <div class="rating">
                    <input type="radio" name="star" value=5 id="star1"> 
                    <label for="star1"></label>
                    <input type="radio" name="star" value=4 id="star2"> 
                    <label for="star2"></label>
                    <input type="radio" name="star" value=3 id="star3"> 
                    <label for="star3"></label>
                    <input type="radio" name="star" value=2 id="star4"> 
                    <label for="star4"></label>
                    <input type="radio" name="star" value=1 id="star5"> 
                    <label for="star5"></label>
                </div>
                <label for="rating"> Avg.Rating:<%= rating %> </label>
                <label for="rating"> <button>rate</button>  </label>
            </form>
        </div>  
    </div>
</div>




<%- include('../partials/footer.ejs') %>   