
<%- include('../partials/header.ejs') %>    




<!-- <nav class="navbar navbar-light bg-light">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href = "/">Yelp Camp</a>
        </div>
       
    </div>
</nav>  -->






<div class = "container">
    <header class = "jumbotron">
        <h1>CAMP GROUNDS</h1>
        <p>Check our best campgrounds in ISRAEL</p>
        <a class = "btn btn-primary" href = "/campgrounds/new">Add new campground</a>
    </header>



    

    <div class = "row text-center" style = "display:flex; flex-wrap:wrap;"> 
        <% campgrounds.forEach(function(site){ %>
            <div class = " col-md-3 col-sm-6">
                <div class = "img-responsive img-thumbnail ">  
                    <img src = <%= site["image"] %> style = "width:100%;">
                    <div class = caption>
                        <h5> <%= site["name"] %> </h5> 
                        
                        
                        <a href = "/campgrounds/<%= site._id %>" name = "<%= site._name %>" image = "<%= site._image %>" class = "btn btn-primary" >More Info </a> 
                    </div>

                     
                </div>               
            </div>           
        <% }) %>
    </div>
</div>








<%- include('../partials/footer.ejs') %>   











